@import "styles/reset.scss";

body {
  background: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
}
.header {
  overflow-x: scroll;
  .header__list {
    display: flex;
    gap: 10px;
    color: white;
    width: max-content;
    .header__list-item {
      padding: 10px;
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      border-radius: 20px;
    }
    .header__list-item--inverted {
      background-color: white;
      color: black;
    }
  }
}
.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .cards__card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    .card__title {
      font-size: 28px;
    }
    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding: 10px 15px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        background-color: #ffdd2c;
      }
      .lenght {
        background-color: white;
      }
    }
    &:first-child {
      background-color: #292d33;
      color: white;
      border: 1px solid white;
      .card__footer span {
        color: black;
      }
    }
    &:nth-child(2) {
      background-color: #f4f1ee;
    }
    &:nth-child(3) {
      background-color: #ffffdd;
    }
    &:nth-child(4) {
      background-color: #b8a6f8;
    }
    &:nth-child(5) {
      background-color: #fed3d3;
    }
    &:last-child {
      background-color: #d1fede;
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}
